* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 150px;
  background-color: #000000;
  border-bottom: 3px solid #AAAAAA;
}

.sidebar {
  padding: 15px;
  float: left;
  width: 200px;
  height: 600px;
  background-color: #000000;
  border-right: 3px solid #AAAAAA;
  text-align: center;
}

.body {
  height: 600px;
  background-color: #000000;
}

.navigation {
  color: #FFFFFF;
}
