* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 150px;
  background-color: #000000;
  border-bottom: 3px solid #AAAAAA;
}

.body {
  height: 100%;
  overflow: hidden;
  background-color: #000000;
}

.photo-grid-container {
  display: flex;
  justify-content: center;

}

.row {

  display: flex;
  justify-content: space-around;


}

.row-0 {
  height: 88px;
}

.row-3 {
  height: 99px;
}

.photo-grid-item {


  flex-wrap: wrap;

}

.item img {
  display: block;

}

.itemm img {
  display: block;
  border: 10px solid #000000;
}

.item-relative {
  position: relative;
  bottom: -164px;
}
